{% load templatetags %}
<section id="delivery" class="delivery">
    {% caption 'delivery' %}

    <div class="deliveries__items">
        {% for delivery in deliveries %}
			<div class="deliveries__item">
                <button class="deliveries__action" data-modal="{{ delivery.name }}"
{#                    onclick="document.getElementById(this.dataset.modal).showModal()">#}
                    onclick="showModal(this.dataset.modal)">
                    <img class="deliveries__image" src="{{ delivery.image.url }}">
                </button>
            </div>

            <dialog id="{{ delivery.name }}" class="dialog" aria-labeledby="dialog__header" aria-describedby="dialog__content">
                <button class="dialog__close" onclick="this.closest('dialog').close()"
                        aria-label="Закрыть">
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </button>
                <h2 id="dialog__header">{{ delivery.title }}</h2>
                <div id="dialog__content">
                    {% if is_mobile %}
                        <a href="{{ delivery.link }}">Калькулятор для расчета доставки</a>
                    {% else %}
                        {% include delivery.path %}
                    {% endif %}
                </div>
            </dialog>
        {% endfor %}
    </div>
</section>
