__pycache__
.git
deploy
venv
docs
data
nginx
.vscode
# .env
*.pyc
*.pyo
*.pyd
.Python
.gitignore
README.md
doc
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis