<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ title }}</title>
    <meta name="description" content="ТехТрансИнвест">


    <link rel="apple-touch-icon" sizes="57x57" href="{% static "business_card/icons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "business_card/icons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "business_card/icons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "business_card/icons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "business_card/icons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "business_card/icons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "business_card/icons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "business_card/icons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "business_card/icons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "business_card/icons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "business_card/icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "business_card/icons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "business_card/icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "business_card/icons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "business_card/icons/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static "business_card/styles/style.css" %}">
{#    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>#}
    <link rel="stylesheet" href="{% static 'business_card/vendor/slick/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'business_card/vendor/slick/slick/slick-theme.css' %}">
    <link href="{% static 'business_card/vendor/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'business_card/vendor/fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="//code.jivo.ru/widget/VsB1kc3xIj" async></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>

