.dialog {
    box-shadow: 0 2px 28px rgba(0,0,0,.2);
    border: 0;
    border-radius: 4px;
}

.dialog[open] {
    animation: open-opacity 1s ease-out forwards;
}

@keyframes open-opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
.dialog__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: none;
    border: 0;
}

.dialog--requisites {
    max-width: 520px;
}

.dialog__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}

.dialog__action {
    text-transform: uppercase;
}

.dialog::backdrop {
    background-color: #252525;
    opacity: .8;
}