dialog {
    opacity: 0;
    box-shadow: 0 2px 28px rgba(0,0,0,.2);
    border: 0;
    transition: opacity 1s ease-out;
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
dialog[open] {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.dialog__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: none;
    border: 0;
}
