*,
*:before,
*:after {
	box-sizing: border-box;
	user-select: none;
}

/*Body*/
html,
body {
	height: 100%;
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

section {
	display: block;
	min-height: 500px;
}

/*section:nth-child(odd) {*/
/*	background-color: white;*/
/*}*/


/*section:nth-child(even){*/
/*	background-color: gray;*/
/*}*/
