*,
*:before,
*:after {
	box-sizing: border-box;
	user-select: none;
}

/*Body*/
html,
body {
	height: 100%;
    font-family: 'Open Sans', 'Raleway', sans-serif;
background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

section {
	display: block;
	min-height: 500px;
}

/*section:nth-child(odd) {*/
/*	background-color: white;*/
/*}*/


/*section:nth-child(even){*/
/*	background-color: gray;*/
/*}*/
