/* Стили для смартфона */
@media (max-width: 767px) {

    .container {
		width: 100%;
		margin-left: 0px;
        padding-right: 1rem;
		padding-left: 1rem;
	}

	.main {
		padding-top: 7rem;
		background: none;
	}

	.header__wrapper--scrolled {
		align-items: flex-end;
	}

	.caption {
		margin: auto;
		margin-bottom: 0;
		max-width: 18rem;
		
	}

	.caption__title {
		font-size: 1.5rem;
	}

	.caption__subtitle {
		font-size: 12px;
	}

	.line {
		margin: 15px 0;
	}

	.benefits__items {
		max-width: 18rem;
		gap: 1rem;
	}

	.benefits__item {
		padding-top: 1rem;
		max-width: 18rem;
		height: auto;
		row-gap: 0;
	}

	.benefits__icon {
		height: 64px;
	}

	.benefits__title {
		font-size: 1rem;
	}

	.benefits__subtitle {
		font-size: 12px;
	}

	.products__item {
		max-width: 18rem;
		row-gap: 0;
	}

	.products__link {
		row-gap: 0;
	}

	.products__image {
		height: 120px;
		width: 120px;
	}

	.products__title {
		font-size: 20px;
	}

	.products__subtitle {
		font-size: 12px;
	}

	.slick-slide {
		max-width: 18rem;
	}

	.deliveries__item {
		padding-top: 0px;
	}

	.deliveries__image {
		height: 150px;
		width: 150px;
	}

	.brands {
		min-height: 16rem;
	}

	.brands__img {
    	padding-right: 0rem;
	}

    .logo-main {
		margin: 0 auto;
	}

	.logo-main__img {
    	height: 50px;
	}

	.logo-main__img--scrolled {
    	height: 40px;
	}

    .nav-main {
		display: none;
	}

	.nav-burger {
		/*display: flex !important;*/
        display: block !important;
		margin: 0;
	}

	.footer__wrapper {
		padding-left: 2rem;
		padding-right: 1rem;
	}

	.social__item {
		width: 2rem;
	}

	.contacts__wrapper {
		flex-direction: column;
	}

	.contacts__items {
		padding: 0;
		align-self: center;
	}

	.contacts__map, .contacts__map > iframe {
		height: 16rem;
		max-width: 18rem;
		align-self: center;
	}

	.footer {
		height: 150px;
	}

	.footer__wrapper {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.social__items {
		flex-basis: 50%;
		gap: 1rem;
	}
	.copyright {
		flex-direction: column;
		align-items: flex-start;
		align-self: flex-start;
		width: 60%;
		justify-content: center;
	}
	
	.catalog__group {
		max-width: 18rem;
		overflow: hidden;
		
	}
	.catalog__items {
		overflow-x: scroll;
	}

	.catalog__image {
		box-shadow: 0 1px 14px rgba(0,0,0,.2);
	}
}

/* Стили для планшета */
 @media (min-width: 768px) and (max-width: 1023px) {

	.container {
		max-width: 50rem;
	}

	.main {
		padding-top: 6rem;
		background: none;

	}

	.nav-main {
		display: none;
	}

	.nav-burger {
		/*display: flex !important;*/
        display: block !important;
		margin: 0;
	}
	
	.nav-main__item {
		min-width: 3rem;
	}

	.benefits__items {
		flex-direction: column;
	}
	
	.contacts__wrapper {
		flex-direction: column;
	}

	.contacts__items {
		padding: 0;
	}

	.contacts__map, .contacts__map > iframe {
		height: 250px;
		width: 500px;
		align-self: center;
	}

	.footer {
		height: 150px;
	}

	.footer__wrapper {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.social__items {
		flex-basis: 50%;
		gap: 1rem;
	}
	.copyright {
		flex-direction: column;
		align-items: flex-start;
		align-self: flex-start;
		width: 60%;
		justify-content: center;
	}

}

/* Стили для компьютера */
@media (min-width: 1024px) {

}