@import url("normalize.css");
@import url("fonts.css");

/*Header*/
@import url("header/header.css");
@import url("header/logo.css");
@import url("header/nav.css");

/*Footer*/
@import url("footer/footer.css");
@import url("footer/copyright.css");


* {
  margin: 0;
  padding: 0;
}

/*Body*/
html,
body {
	height: 100%;
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;

    max-width: 75rem;
	/*height: auto;*/
	margin: 0 auto;
	padding: 0 1.25rem;
}

.main {
	flex: 1 0 auto;
}

