.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    padding: 0 10px;

    background-color: #fff;
	color: #24292e;
	box-shadow: 0 1px 8px rgba(0,0,0,.2);

    transition: .45s ease all;
}

.header--scrolled {
    height: 4rem;
    transition: .45s ease all;
}

.header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    max-width: 80rem;
	margin: 0 auto;
	padding-left: 5rem;
	padding-right: 5rem;
}

.header__action {
    display: flex;
    gap: 2rem;
}