.logo-main {
	list-style: none;
	outline: none;
 }

.logo-main:link {
	color: #000;
}

.logo-main:visited {
	color: #000;
}

.logo-main:hover {
	color: #FFCC00;
}

.logo-main__img {
    display: block;
    width: 200px;
    height: 70px;
    transition: .45s ease all;
}

.logo-main__img--scrolled {
    height: 50px;
    transition: .45s ease all;
}

.logo-main__text {
    display: block;
    font-size: 2rem;
    transition: .45s ease all;
}

.logo-main__text--scrolled {
    font-size: 1.5rem;
    transition: .45s ease all;
}