.logo_main {
    margin: 7px 0 0 0;
    float: left;
}

.logo_link {
    width: 200px;
    height: 80px;
    display: block;
	background: url('/static/business_card/images/logo.svg') no-repeat 0 0;
    text-indent: -9999px;
    text-shadow: none;
    color: transparent;
 }
