.nav-main {
	height: 100%;
	transition: 0.3s;
}

.nav-main__items,
.nav-sidebar__items {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    align-items: center;
    column-gap: 1.25rem;
    height: 100%;
}

.nav-sidebar__items {
	flex-direction: column;
	align-items: flex-start;
}

.nav-main__item,
.nav-sidebar__item {
    list-style-type: none;
}

.nav-main__link,
.nav-sidebar__link {
    text-transform: uppercase;
    color: black;
    font-size: .875rem;
    font-weight: 700;
    /*opacity: 0.69;*/
    transition: .45s ease all;
}

.nav-main__link:hover,
.nav-sidebar__link:hover {
    color: #ffcc00;
    /*text-shadow: #000 2px .4px 3px;*/
    transition: .45s ease color;
}



.nav-main__link--current,
.nav-sidebar__link--current {
    position: relative;
    opacity: 1;
}

.nav-main__link--current:after,
.nav-sidebar__link--current:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    content: "";
    background-color: gold;
}

.active {
	color: #ffcc00;
    text-shadow: #000 2px .4px 3px;
    transition: .45s ease all;
}

.dropdown {
    float: left;
    overflow: hidden;
    
}

.nav-main--dropdown .dropdown {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown__content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown__content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown__content {
    display: block;
}