<nav id="nav" class="{{ type_nav }}">
    <ul class="{{ type_nav }}__items">
    {% for nav_item in nav %}
        <li class="{{ type_nav }}__item">
            {% if nav_item.dropdown %}
            <div class="dropdown">
                <a class="{{ type_nav }}__link {{ type_nav }}--dropdown" 
                    {% if nav_item.anchor  %} 
                        href="{{ nav_item.url }}"
                    {% else %}
                        href="{% url page nav_item.url %}"
                    {% endif %}
                >
                    {{ nav_item.name }}
                  <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown__content">
                    {% for nav_subitem in nav_item.dropdown_items %}
                        <a class="{{ type_nav }}__link" 
                        {% if nav_subitem.anchor  %} 
                            href="{{ nav_subitem.url }}"
                        {% else %}
                            href="{% url page nav_subitem.url %}"
                        {% endif %}
                        >  
                        {{ nav_subitem.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <a class="{{ type_nav }}__link" 
            {% if nav_item.anchor  %} 
                href="{{ nav_item.url }}"
            {% else %}
                href="{% url page nav_item.url %}"
            {% endif %}
            >   
                {{ nav_item.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav>

{#nav-main nav-sidebar#}