{% comment %} <button class="button button--requisites" data-modal="requisites"
        onclick="showModal(this.dataset.modal)">
        Реквизиты
</button> {% endcomment %}
<dialog id="requisites" class="dialog dialog--requisites" aria-labeledby="dialog__header" aria-describedby="dialog__content">
    <button class="dialog__close" onclick="this.closest('dialog').close()"
            aria-label="Закрыть">
        <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
    <h2 id="dialog__header">Реквизиты</h2>
    <div id="dialog__content">
        <div class="list">
            {% for requisite in requisites %}
                <div class="list__item">
                    <span class="text__name">{{ requisite.name }}</span>
                    <span class="text__value">{{ requisite.value }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="dialog__actions">
        <a class="dialog__action" href="{{ MEDIA_URL }}/files/requisites-10.12.2018.pdf"  download>
            <span>Скачать</span>
		</a>
		<a class="dialog__action" href="{{ MEDIA_URL }}/files/requisites-10.12.2018.pdf" target="_blank">
		    <span>Открыть</span>
		</a>
    </div>
</dialog>